<main class="background">
  <button mat-raised-button color="basic" class="leaveButton" (click)="leave()">
    Sair
    <i class="material-icons">exit_to_app</i>
  </button>
  <mat-card>
    <mat-card-title>Produto</mat-card-title>

    <form [formGroup]="addForm">
      <div class="inputs">
        <div class="column">
          <button
            class="imageButton"
            mat-raised-button
            color="primary"
            type="button"
            (click)="fileInput.click()"
          >
            <i class="material-icons">file_upload</i>
            Carregar imagem
          </button>

          <input
            #fileInput
            name="file"
            id="file"
            formControlName="base64"
            class="editInput"
            type="file"
            name=""
            id=""
            accept="image/jpeg"
            (change)="onFileSelected($event)"
          />

          <img class="imgPreview" [src]="base64Output" />
        </div>
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>Código de barras</mat-label>
            <input type="number" formControlName="codigoBarras" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input formControlName="nome" matInput />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Preço</mat-label>
            <input type="number" formControlName="preco" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="buttons">
        <button mat-raised-button color="basic" class="" (click)="back()">
          Cancelar
        </button>
        <button
          [disabled]="addForm.invalid"
          mat-raised-button
          color="primary"
          class="saveButton"
          (click)="add()"
        >
          Salvar
        </button>
      </div>
    </form>
  </mat-card>
</main>
