$color-primary: #3f51b5;

.leaveButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

mat-card {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inputs {
        display: flex;
        flex-direction: row;
        margin: 0;

        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            margin: 0 10px;
        }
    }

    .imgPreview {
        height: 172px;
    }

    input[type="file"] {
        display: none;
    }

    .imageButton {
        margin-bottom: 15px;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: end;

        .saveButton {
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
