$color-primary: #3f51b5;

.leaveButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

mat-card {
    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        margin: 10px;
    }

    input[type="file"] {
        display: none;
    }

    .imageButton {
        margin-bottom: 15px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;

        .saveButton {
            margin-left: 10px;
        }
    }
}
