<main class="background">
  <button mat-raised-button color="basic" class="leaveButton" (click)="leave()">
    Sair
  </button>
  <mat-card>
    <mat-card-title>Produto</mat-card-title>

    <form [formGroup]="addForm">
      <div class="column">
        <span class="editTextTitle">Imagem</span>
        <input
          formControlName="base64"
          class="editInput"
          id="imageInput"
          type="file"
          name=""
          id=""
          accept="image/jpeg"
          (change)="onChangeFile($event)"
        />
      </div>
      <div class="column">
        <span class="editTextTitle">Código de barras</span>
        <input
          formControlName="codigoBarras"
          class="editInput"
          id="gtinEdit"
          type="number"
          name=""
          id=""
        />

        <span class="editTextTitle">Nome</span>
        <input
          formControlName="nome"
          class="editInput"
          id="nameEdit"
          type="text"
          name=""
          id=""
        />

        <span class="editTextTitle">Preço</span>
        <input
          formControlName="preco"
          class="editInput"
          id="priceEdit"
          type="number"
          name=""
          id=""
        />
      </div>

      <div class="buttons">
        <button mat-raised-button color="basic" class="" (click)="back()">
          Cancelar
        </button>
        <button
          mat-raised-button
          color="primary"
          class="saveButton"
          (click)="add()"
        >
          Salvar
        </button>
      </div>
    </form>
  </mat-card>
</main>
