<main class="background">
  <mat-card>
    <mat-card-title>Entre com seu usuário</mat-card-title>
    <form [formGroup]="loginForm" class="loginForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label> Login </mat-label>
          <input formControlName="login" type="text" matInput />
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label> Senha </mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>

      <p [ngStyle]="{ visibility: visibility }" class="loginError">
        Login ou senha inválido(s)!
      </p>
      <button
        [disabled]="loginForm.invalid"
        mat-raised-button
        color="primary"
        (click)="login()"
      >
        Entrar
      </button>
    </form>
  </mat-card>
</main>
