$color-primary: #3f51b5;
$color-warn: #f44336;

mat-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loginError {
        margin-top: -15px;
        color: $color-warn;
        visibility: hidden;
    }

    button {
        width: 100%;
    }
}
