$color-primary: #3f51b5;

.leaveButton {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

mat-card {
    .viewArea {
        display: flex;
        flex-direction: row;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        margin: 10px;
    }

    .productName {
        font-weight: bold;
        font-size: 50px;
    }

    .productPrice {
        font-weight: bold;
        font-size: 20px;
        color: $color-primary;
    }

    .viewTextTitle {
        font-weight: bold;
    }

    .viewText {
        margin-top: 8px;
        margin-bottom: 20px;
    }

    img {
        max-width: 200px;
        max-height: 400px;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

.loading {
    width: 100%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
